/* Variables and mixins declared here will be available in all other SCSS files */

$background: #0e0e0e;
$files-background: rgb(41, 41, 41);
$answer-background: rgb(24, 24, 24);
$text-color: #d4d4d4;
$primary-text-color: #f2f2f2;
$accent: #3881efd6;
$bot: #484848